<div class="mx-auto tablelist">
<table class="table table-hover ">
    <thead>
      <tr>
        <th  scope="col">#</th>
        <!-- <th appColor color="green" scope="col">Image</th> -->
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">#</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of wishListService.wishList; index as count">
        <th scope="row">{{ count + 1 }}</th>
        
         <img class="card-img-top iamgetable" src="{{ hotel.imageUrl }}" alt="Card image cap" >
        
        <td>{{ hotel.name }}</td>
        <td>{{ hotel.description }}</td>
        <td><button type="button" class="btn btn-danger" (click)="removeList(hotel)">Delete</button></td>
      </tr>
    </tbody>
</table>
</div>
