<nav class="navbar navbar-expand-lg bg-dark" ><h1 style="color:white ;margin-left:20px">Booking</h1></nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <!-- <a class="navbar-brand" href="#">Booking</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  

    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link " routerLink = "/homebooking">Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink = "/listhotel"  >Hotels </a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink = "/wishlist" >Wish List </a>
        </li>

      <li class="nav-item">
            <a class="nav-link" routerLink = "/bookingdetail">Manage Booking </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/about">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/hoteldetail/โรงแรม">hoteldetail </a>
      </li>
    </ul>
    
   
  <!-- </div> -->
</nav>

<div class="container margincontainer" >

   <router-outlet></router-outlet>
<!-- 
  <div class="row" *ngIf="currentPage == 'Home'">
        <div class="col-sm" *ngFor="let hotel of hotels">
      <app-home [hotel] = "hotel" (star)="addWishList(hotel)"></app-home>
      </div>
  </div> -->


<!-- <app-wish-list [wishList] = "wishList"  *ngIf="currentPage == 'Wish'" > </app-wish-list> -->

    </div>